sfo
.vscode
*.o
dev.nix
.devcontainer.json
build
build.sh
cmake_install.cmake
CMakeFiles
CMakeCache.txt
run.sh
default.nix
result
Makefile
TODO.md
Dockerfile
example_files
test_sounds
.nvim
.cache
compile_commands.json
nvim
